@using OnlineCourse.Common;
@model CourseProject.Models.UserProfileViewModel


@{
    var productcategory = (List<Model.Model.ProductCategory>)ViewBag.CategoryID;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = Session["USER_SESSION"] as UserLogin;
    var items = ViewBag.Items as Model.Model.User;

    ViewBag.Title = "Thông tin cá nhân";
}
<section class="pt-0">
    <div class="container">
        <div class="row">

            <!-- Right sidebar START -->
            <div class="col-xl-3">
                <!-- Responsive offcanvas body START -->
                <nav class="navbar navbar-light navbar-expand-xl mx-0">
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                        <!-- Offcanvas header -->
                        <div class="offcanvas-header bg-light">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">My profile</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <!-- Offcanvas body -->
                        <div class="offcanvas-body p-3 p-xl-0">
                            <div class="bg-dark border rounded-3 pb-0 p-3 w-100">
                                <!-- Dashboard menu -->
                                <div class="list-group list-group-dark list-group-borderless">
                                    <a class="list-group-item" href="instructor-dashboard.html"><i class="bi bi-ui-checks-grid fa-fw me-2"></i>Dashboard</a>
                                    <a class="list-group-item" href="instructor-manage-course.html"><i class="bi bi-basket fa-fw me-2"></i>My Courses</a>
                                    <a class="list-group-item" href="instructor-earning.html"><i class="bi bi-graph-up fa-fw me-2"></i>Earnings</a>
                                    <a class="list-group-item" href="instructor-studentlist.html"><i class="bi bi-people fa-fw me-2"></i>Students</a>
                                    <a class="list-group-item" href="instructor-order.html"><i class="bi bi-folder-check fa-fw me-2"></i>Orders</a>
                                    <a class="list-group-item" href="instructor-review.html"><i class="bi bi-star fa-fw me-2"></i>Reviews</a>
                                    <a class="list-group-item active" href="/thong-tin-ca-nhan"><i class="bi bi-pencil-square fa-fw me-2"></i>Chỉnh sửa thông tin</a>
                                    <a class="list-group-item " href="/viet-blog"><i class="bi bi-pencil-square fa-fw me-2"></i>Viết Blog</a>

                                    <a class="list-group-item" href="instructor-payout.html"><i class="bi bi-wallet2 fa-fw me-2"></i>Payouts</a>
                                    <a class="list-group-item" href="instructor-setting.html"><i class="bi bi-gear fa-fw me-2"></i>Settings</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- Responsive offcanvas body END -->
            </div>
            <!-- Right sidebar END -->
            <!-- Main content START -->
            <div class="col-xl-9">
                <!-- Edit profile START -->
                <div class="card bg-transparent border rounded-3">
                    <!-- Card header -->
                    <div class="card-header bg-transparent border-bottom">
                        <h3 class="card-header-title mb-0">Thông tin cá nhân</h3>
                    </div>
                    <!-- Card body START -->
                    <div class="card-body">
                        <!-- Form -->
                        @using (Html.BeginForm("UpdateInfo", "Profile", FormMethod.Post, new { @class = "row g-4" }))
                        {
                            <div class="col-6 justify-content-center align-items-center">
                                <label class="form-label">Ảnh đại diện</label>
                                <div class="d-flex align-items-center">
                                    <label class="position-relative me-4" for="uploadfile-1" title="Replace this pic">
                                        <!-- Avatar place holder -->
                                        <span class="avatar avatar-xl">
                                            <img id="uploadfile-1-preview" class="avatar-img rounded-circle border border-white border-3 shadow" src="@items.Avatar" alt="">
                                        </span>
                                        <!-- Remove btn -->
                                    </label>
                                    <!-- Upload button -->
                                </div>
                            </div>
                            <!-- Username -->
                            <div class="col-md-6">
                                <label class="form-label">Tài khoản</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" value="@items.UserName" readonly>
                                </div>
                            </div>

                            <div class="col-6">
                                <label class="form-label">Tạo ngày </label>
                                <div class="input-group">
                                    <div class="form-control">@items.CreateDate</div>
                                </div>
                            </div>
                            <div class="col-6">
                                <label class="form-label">Cập nhật tài khoản lúc </label>
                                <div class="input-group">
                                    <div class="form-control">@items.ModifiedDate - @items.ModifiedBy</div>
                                </div>
                            </div>
                            <div class="col-6">
                                <label class="form-label">Đăng nhập lần cuối </label>
                                <div class="input-group">
                                    <div class="form-control">@items.LastLogin</div>
                                </div>
                            </div>
                            <!-- Full name -->
                            <div class="col-6">
                                <label class="form-label">Họ tên </label>
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.ChangeInfo.Name, new { @id = "name", @class = "form-control", @placeholder = "Full name ", @type = "text", })
                                </div>
                            </div>


                            <!-- Email id -->
                            <div class="col-md-6">
                                <label class="form-label">Email</label>

                                <input class="form-control" type="email" value="@items.Email" placeholder="Email" readonly>
                            </div>

                            <!-- Phone number -->
                            <div class="col-md-6">
                                <label class="form-label">Số điện thoại </label>
                                @Html.TextBoxFor(model => model.ChangeInfo.Phone, new { @id = "phone", @class = "form-control", @placeholder = "Phone ", @type = "text", })
                            </div>

                            <!-- Location -->
                            <div class="col-md-6">
                                <label class="form-label">Quê quán </label>
                                @Html.TextBoxFor(model => model.ChangeInfo.Address, new { @id = "address", @class = "form-control", @placeholder = "Nơi sống", @type = "text", })
                            </div>

                            <!-- About me -->
                            <div class="col-12">
                                <label class="form-label">Giới thiệu </label>
                                @Html.TextAreaFor(model => model.ChangeInfo.AboutMe, new { @id = "aboutMe", @class = "form-control", @placeholder = "Giới thiệu", rows = "3" })

                                <div class="form-text">Mô tả ngắn gọn cho hồ sơ của bạn.</div>
                            </div>

                            <!-- Education -->
                            <div class="col-12">
                                <label class="form-label">Trình độ học vấn </label>
                                @Html.TextBoxFor(model => model.ChangeInfo.Education, new { @id = "address", @class = "form-control mb-2", @placeholder = "Học vấn", @type = "text", })
                            </div>

                            <!-- Save button -->
                            <div class="d-sm-flex justify-content-end">
                                <button type="submit" class="btn btn-primary mb-0">Save changes</button>
                            </div>
                        }

                        @if (TempData["SuccessMessageInfo"] != null)
                        {
                            <div id="successMessage" class="alert alert-success">
                                @TempData["SuccessMessageInfo"]
                            </div>
                        }

                        @if (TempData["ErrorMessageInfo"] != null)
                        {
                            <div id="errorMessage" class="alert alert-danger">
                                @TempData["ErrorMessageInfo"]
                            </div>
                        }

                        <!-- Profile picture -->


                    </div>
                    <!-- Card body END -->
                </div>
                <!-- Edit profile END -->

                <div class="row g-4 mt-3">
                    <!-- Linked account START -->
                    <!-- Linked account end -->
                    <!-- Social media profile START -->
                    <div class="col-lg-12">
                        <div class="card bg-transparent border rounded-3">
                            <!-- Card header -->
                            <div class="card-header bg-transparent border-bottom">
                                <h5 class="card-header-title mb-0">Liên kết xã hội</h5>
                            </div>
                            <!-- Card body START -->
                            <div class="card-body">

                                @using (Html.BeginForm("UpdateSocialMedia", "Profile", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(false, "", new { @class = "p-3 mb-2 bg-white text-danger" })
                                    <!-- Facebook username -->
                                    <div class="mb-3">
                                        @if (items.UrlFacebook == null)
                                        {
                                            <label class="form-label"><i class="fab fa-facebook text-facebook me-2"></i>Thêm Link Facebook của bạn</label>

                                        }
                                        else
                                        {
                                            <label class="form-label"><i class="fab fa-facebook text-facebook me-2"></i>Link Facebook hiện tại của bạn: <a href="@items.UrlFacebook" target="_blank">Kiểm tra </a> </label>

                                        }



                                        @Html.TextBoxFor(model => model.SocialMedia.UrlFacebook, new { @id = "urlFacebook", @class = "form-control", @placeholder = "Nhập link liên kết ", @type = "text", })

                                    </div>

                                    <!-- Instagram username -->
                                    <div class="mb-3">
                                        @if (items.UrlInstagram == null)
                                        {
                                            <label class="form-label"><i class="fab fa-instagram text-instagram-gradient me-2"></i>Thêm Link Instagram của bạn</label>

                                        }
                                        else
                                        {
                                            <label class="form-label"><i class="fab fa-instagram text-instagram-gradient me-2"></i>Link Instagram hiện tại của bạn:<a href="@items.UrlInstagram" target="_blank"> Kiểm tra</a> </label>

                                        }

                                        @Html.TextBoxFor(model => model.SocialMedia.UrlInstagram, new { @id = "urlInstagram", @class = "form-control", @type = "text" })
                                    </div>

                                    <!-- Youtube -->
                                    <div class="mb-3">
                                        @if (items.UrlYoutube == null)
                                        {
                                            <label class="form-label"><i class="fab fa-youtube text-youtube me-2"></i>Thêm Link Youtube của bạn </label>

                                        }
                                        else
                                        {
                                            <label class="form-label"><i class="fab fa-youtube text-youtube me-2"></i>Link Youtube hiện tại của bạn:<a href="@items.UrlYoutube" target="_blank"> Kiểm tra</a> </label>

                                        }
                                        @Html.TextBoxFor(model => model.SocialMedia.UrlYoutube, new { @id = "urlYoutube", @class = "form-control", @placeholder = "Nhập link liên kết ", @type = "text" })
                                    </div>

                                    <!-- Button -->
                                    <div class="d-flex justify-content-end mt-4">
                                        <button type="submit" class="btn btn-primary mb-0">Lưu thay đổi </button>
                                    </div>
                                }




                            </div>


                            @if (TempData["SuccessMessageSocial"] != null)
                            {
                                <div id="successMessageSocial" class="alert alert-success centered-modal">
                                    @TempData["SuccessMessageSocial"]
                                </div>
                            }

                            <script>
                                document.addEventListener("DOMContentLoaded", function () {
                                    // Kiểm tra nếu có thông báo
                                    var successMessage = document.getElementById('successMessageSocial');
                                    if (successMessage) {
                                        // Cuộn tới thông báo, mặc dù nó đã ở giữa màn hình
                                        successMessage.scrollIntoView();

                                        // Tự động tắt sau 5 giây
                                        setTimeout(function () {
                                            successMessage.style.display = 'none';
                                        }, 5000);
                                    }
                                });
                            </script>

                            <!-- Card body END -->
                        </div>
                    </div>
                    <!-- Social media profile END -->
                    <!-- EMail change START -->
                    <div class="col-lg-6">
                        <div class="card bg-transparent border rounded-3">
                            <!-- Card header -->
                            <div class="card-header bg-transparent border-bottom">
                                <h5 class="card-header-title mb-0">Update email</h5>
                            </div>
                            <!-- Card body -->
                            <div class="card-body">
                                <p>Your current email address is <span class="text-primary">example@gmail.com</span></p>
                                <!-- Email -->
                                <form method="post" action="@Url.Action("UpdateEmail", "Profile")">
                                    <label class="form-label">Enter your new email id</label>
                                    <input class="form-control" name="newEmail" type="email" placeholder="Enter new email" required>
                                    <div class="d-flex justify-content-end mt-4">
                                        <button type="submit" class="btn btn-primary mb-0">Update email</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <!-- EMail change end -->
                    <!-- Password change START -->
                    <div class="col-lg-6">
                        <div class="card border bg-transparent rounded-3">
                            <!-- Card header -->
                            <div class="card-header bg-transparent border-bottom">
                                <h5 class="card-header-title mb-0">Đổi mật khẩu </h5>
                            </div>
                            <!-- Card body START -->
                            @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(false, "", new { @class = "p-3 mb-2 bg-white text-danger" })

                                <div class="card-body">
                                    <!-- Current password -->
                                    <div class="mb-3">
                                        <label for="currentPassword" class="form-label">Mật khẩu hiện tại </label>
                                        @Html.TextBoxFor(model => model.ChangePassword.CurrentPassword, new { @id = "currentPassword", @class = "form-control", @placeholder = "Nhập mật khẩu hiện tại", @type = "password", })

                                    </div>
                                    <!-- New password -->
                                    <div class="mb-3">
                                        <label for="newPassword" class="form-label">Nhập mật khẩu mới </label>
                                        <div class="input-group">
                                            @Html.TextBoxFor(model => model.ChangePassword.NewPassword, new { @id = "newPassword", @class = "form-control", @placeholder = "Nhập mật khẩu mới", @type = "password", })
                                            <span class="input-group-text p-0 bg-transparent">
                                                <i class="far fa-eye cursor-pointer p-2 w-40px" onclick="togglePasswordVisibility('newPassword')"></i>
                                            </span>
                                        </div>
                                        <div class="rounded mt-1" id="psw-strength"></div>
                                    </div>
                                    <!-- Confirm password -->
                                    <div class="mb-3">
                                        <label for="confirmNewPassword" class="form-label">Nhập lại mật khẩu mới </label>
                                        @Html.TextBoxFor(model => model.ChangePassword.ConfirmPassword, new { @id = "ConfirmNewPassword", @class = "form-control", @placeholder = "xác nhận mật khẩu mới", @type = "password" })
                                    </div>
                                    <!-- Button -->
                                    <div class="d-flex justify-content-end mt-4">
                                        <button type="submit" class="btn btn-primary mb-0">Lưu thay đổi  </button>
                                    </div>
                                </div>
                            }

                            @if (TempData["SuccessMessage"] != null)
                            {
                                <div id="successMessage" class="alert alert-success">
                                    @TempData["SuccessMessage"]
                                </div>
                            }

                            @if (TempData["ErrorMessage"] != null)
                            {
                                <div id="errorMessage" class="alert alert-danger">
                                    @TempData["ErrorMessage"]
                                </div>
                            }


                            <script>
                                document.addEventListener("DOMContentLoaded", function () {
                                    if (document.getElementById('successMessage')) {
                                        document.getElementById('successMessage').scrollIntoView();
                                    } else if (document.getElementById('errorMessage')) {
                                        document.getElementById('errorMessage').scrollIntoView();
                                    }
                                });
                            </script>



                            <!-- Card body END -->
                        </div>
                    </div>
                    <!-- Password change end -->
                </div>
            </div>
            <!-- Main content END -->
        </div><!-- Row END -->
    </div>
</section>
<script src="~/assets/admin/js/vendor.min.js"></script>
