
@model List<Model.ViewModel.BlogCommentViewModel>
@{
    <script src="~/assets/client/controller/blogController.js"></script>
    var userid = (List<Model.Model.User>)ViewBag.AccountID;

}


@foreach (var itemcomment in Model)
{
    <div class="row">
        <!-- Review item START -->
        <div class="d-md-flex my-1">
            <!-- Avatar -->
            <div class="avatar avatar-xl me-4 flex-shrink-0">
                @foreach (var user in userid)
                {
                    if (itemcomment.UserID == user.Id)
                    {
                        <img class="avatar-img rounded-circle" src="@user.Avatar" alt="avatar" width="10">
                    }
                }
            </div>
            <!-- Text -->
            <div class="col-md-12">
                <div class="d-sm-flex mt-1 mt-md-0 align-items-center">
                    @foreach (var user in userid)
                    {
                        if (itemcomment.UserID == user.Id)
                        {
                            <h5 class="me-3 mb-0">@user.Name</h5>
                        }
                    }
                    <!-- Review star -->

                </div>
                <!-- Info -->
                <p class="small mb-2">@itemcomment.CommentDate</p>
                <div class="mt-2">
                    <p class="mb-2">@itemcomment.CommentMsg</p>
                    <div class="bg-white"></div>
                    <div class="d-flex flex-row">
                        <a class="accordion-collapse collapse show" href="#commmentreply-@itemcomment.Id" data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapse-1">
                            <i class="fas fa-reply me-2"></i>Trả lời
                        </a>
                    </div>

                </div>
                <div id="commmentreply-@itemcomment.Id" class="bg-light p-2 collapse">
                    <div class="d-flex flex-row align-items-start">
                        @*<img class="avatar-img rounded-circle" src="/assets/client/images/avatar/09.jpg" alt="avatar" width="40">*@
                        <textarea class="form-control" id="txtCommentMsg_@itemcomment.Id" placeholder="Viết nhận xét tại đây" rows="3"></textarea>

                    </div>
                    <div class="mt-2 text-right">
                        <a class="abcdefghkj" data-blogid="@itemcomment.BlogID" data-userid="@itemcomment.UserID" data-parentid="@itemcomment.Id" data-commentmsg="txtCommentMsg_@itemcomment.Id">
                            <input type="submit" class="btn btn-primary mb-0" value="Gửi bình luận" />
                        </a>
                    </div>
                </div>

                <!-- Reply button -->
                @{Html.RenderAction("_ChildBlogComment", "Blog", new { parentid = itemcomment.Id, blogid = itemcomment.BlogID });}
         </div>

        </div>
    </div>

}