@using OnlineCourse.Common;

@{
    Layout = null;
    var productcategory = (List<Model.Model.ProductCategory>)ViewBag.CategoryID;
    var user = Session["USER_SESSION"] as UserLogin;
    var items = ViewBag.Items as Model.Model.User;


}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from eduport.webestica.com/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 16 Mar 2022 02:55:58 GMT -->
<head>
    <title>@ViewBag.Title</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Webestica.com">
    <meta name="description" content="Eduport- LMS, Education and Course Theme">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/client/images/logo-vip.png">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&amp;family=Roboto:wght@400;500;700&amp;display=swap">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/client/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/client/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="~/assets/client/vendor/tiny-slider/tiny-slider.css">
    <link rel="stylesheet" type="text/css" href="~/assets/client/vendor/glightbox/css/glightbox.css">
    <link id="style-switch" rel="stylesheet" type="text/css" href="~/assets/client/css/site.css">

    <link id="style-switch" rel="stylesheet" type="text/css" href="~/assets/client/css/style.css">

    @RenderSection("Childcss", required: false)

    <!-- Theme CSS -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7N7LGGGWT1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-7N7LGGGWT1');
    </script>

</head>

<body>

    <!-- Header START -->


    <!-- Header END -->
    <!-- **************** MAIN CONTENT START **************** -->
    <main>

        @if (Session["USER_SESSION"] != null)
        {
            <div id="product-edit-@user.Id" class="modal fade bs-example-modal-xl-edit" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 style="text-align:center" class="modal-title" id="myLargeModalLabel">Chọn ảnh đại diện </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-6">
                                    @if (items != null)
                                    {
                                        <img src="@items.Avatar" style="width:400px;height:400px"/>

                                    }
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>


                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="field-2" class="control-label">Ảnh đại diện</label><input type="text" class="form-control" id="e_image" hidden="hidden">
                                        <input type="text" class="form-control" id="e_image_@user.Id" value="@user.Avartar" placeholder="">
                                        &nbsp;<a class="xyzpopup" id="btnSelectImageEdit" href="#">Chọn ảnh khác</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Thoát</button>
                            <a class="abclaice" data-listid="@user.Id" data-image="e_image_@user.Id">
                                <input type="submit" id="btnUpdateProduct" class="btn btn-info waves-effect waves-light" value="Cập nhật" />
                            </a>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>

        }
        @RenderBody();


    </main>
    <!-- **************** MAIN CONTENT END **************** -->
    <!-- =======================
    Footer START -->
  
    <!-- =======================
    Footer END -->
    <!-- Back to top -->
    <div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>


    <script src="~/assets/admin/js/vendor.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/assets/client/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Vendors -->
    <script src="~/assets/client/vendor/tiny-slider/tiny-slider.js"></script>
    <script src="~/assets/client/vendor/glightbox/js/glightbox.js"></script>
    <script src="~/assets/client/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>

    <script src="~/assets/admin/libs/bootstrap/js/bootbox.min.js"></script>


    <script src="~/assets/admin/libs/jquery/jquery.min.js"></script>
    <script src="~/assets/admin/libs/jquery/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/assets/admin/libs/jquery-easing/jquery.easing.min.js"></script>

    <script src="~/assets/admin/js/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/assets/admin/js/plugins/ckfinder/ckfinder.js"></script>
    <script>

        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#m_image').val(url);
            };
            finder.popup();
        })
        $('.xyzpopup').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#e_image').val(url);
            };
            finder.popup();
        })
    </script>

    <script src="~/assets/client/controller/userController.js"></script>

    @RenderSection("jsFooter", required: false)

    <!-- Template Functions -->
    <script src="~/assets/client/js/functions.js"></script>

</body>

<!-- Mirrored from eduport.webestica.com/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 16 Mar 2022 02:56:36 GMT -->
</html>
